@import "@fontsource/quicksand"; 
@import "@fontsource/quicksand/400.css";
@import "@fontsource/quicksand/700.css"; 

@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-toolbar.ql-snow {
  border: none !important;
  border-bottom: 1px solid #e5e7eb !important;
}

.dark .ql-toolbar.ql-snow {
  border-bottom-color: #4b5563 !important;
}

.ql-container.ql-snow {
  border: none !important;
}